@page "/feeback"

@using BlazorStateMaintenance.Data
@inject FormService form
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

<div id="Feedback_Form" style="padding:10px">
    <form id="formId">
        <div class="form-group">
            <div class="e-float-input">
                <SfTextBox Placeholder="Enter name" @bind-Value="form.UserName"></SfTextBox>
            </div>
            <div class="e-float-input">
                <SfTextBox @bind-Value="form.MailAddress" Placeholder="Email" Type="InputType.Email"></SfTextBox>
            </div>
            <div class="e-float-input">
                <SfTextBox @bind-Value="Comments" Placeholder="Share your comments"></SfTextBox>
            </div>
        </div>
    </form>
    <div style="text-align: center">
        <SfButton @onclick="@OnSubmit">Submit</SfButton>
        @if (EmptyField)
        {
            <div class="Error">* Please fill all fields</div>
        }
    </div>
</div>

@code {
    private string Comments;
    public Boolean EmptyField { get; set; } = false;
    public void OnSubmit()
    {
        if (form.UserName == null || form.MailAddress == null || this.Comments == null)
        {
            EmptyField = true;
        }
        else
        {
            EmptyField = false;
            form.UserName = null;
            form.MailAddress = null;
            this.Comments = null;
        }
    }
}