<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorStateMaintenance</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dynamic Rendering
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demandrendering">
                <span class="oi oi-plus" aria-hidden="true"></span> Demand Rendering
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="initialrendering">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Initial Rendering
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
